# Environment variables
.env
.env.local
.env.*

# Dependencies
node_modules/
**/node_modules/

# Production
dist/
dist-ssr/
build/

# Uploads & Temp
uploads/
**/uploads/
tmp/

# Logs
logs
*.log
npm-debug.log*

# OS & Editor
.vscode/
.idea/
.DS_Store
*.swp
*.swo

